div.mobile-error {
  padding-bottom: 9px;
}

div.mobile-error span.bold {
  white-space: nowrap;
  font-weight: 400;
  color: #111;
}

hr.mobile-error {
  margin-top: 12px;
  margin-bottom: 12px;
}

div.english {
  color: #888;
}
